<section class="orders-show">
  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>
  <div>
    <%= render partial: "order_items", collection: @order.line_items, as: "line_item"%>
  </div>
  <div class = "row">
    <div class = "col">
      <div class="order-summary jumbotron">
        <h4>Thank you for your order!</h4>
      </div>
    </div>
    <div class = "col">
      <h4>Total order: $<%= @order.total_cents / 100%></h4>
    </div>
  </div>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</section>
